.CardComponent {
    background-color: rgba(255, 255, 255, 1);
    width: 30vw;
    height: 85vh;
    border-radius: 0.75rem;
    overflow: hidden;
    margin: 0 auto;
    padding: 2rem;
}
.CardComponent .card-body .card-title {
    font-size: 1.75rem;
    font-weight: 700;
    color: #07085B;
}