body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0rem 10rem;
  position: relative;
  min-height: 100vh;
  background-color: #FFDEE9;
  background-image: linear-gradient(135deg, #FFDEE9 0%, #B5FFFC 100%);
}

@media (min-width: 768px) {
  #root {
    flex-direction: row;
  }
}